body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/564x/69/4e/42/694e4233041dbcbedc464acded2ae8d8.jpg'); /* Enlace de la imagen */
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff; /* Cambiado a blanco */
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5); /* Sombra para mejorar la legibilidad */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

.subtitle {
    font-size: 16px;
    margin-top: 20px;
}
